@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    margin : 0 0 0 0;
    padding : 0 0 0 0;
    max-width: 100%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* header ----------------------------------------------------------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    position: fixed;
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgb(32, 32, 32) 0%, rgba(27, 27, 27, 0.4) 50%,rgba(36, 36, 36, 0) 100%);
    z-index: 7;
    justify-content: space-between;

}
.header_button {
    display: flex;
}
.header_arrow {
    display: flex;
}
.bouton1 {
    justify-content: flex-end;
    width : 3rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0 1rem;
    padding: 0.5em;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 0.3s;
    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
}
.bouton1:hover {
    background-color:  rgb(243, 165, 21);
    color :white;
}
.bouton2 /* bouton */{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0 10px;
    border-radius: 30px;
    padding: 0.5em;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 0.3s;
    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
}
.bouton2:hover {
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid rgb(243, 165, 21);
}
  /* header Media Queries téléphone */
  @media screen and (max-width: 500px) {
    .header {
        display: none;
    }
}



/* Première section-------------------------------------------------------------------------------------*/
.section_a {
    background-image:url(Sans_titre_2.jpg);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    padding-bottom: 100px;
}
.box_moitié {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box_identite {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_prenom {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box_nom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.prenom {
    font-family: 'Signika', sans-serif;
    font-size: 5rem;
    color: ivory;
    text-shadow: 9px 0px 13px rgba(0, 0, 0, 0.83);
}
.nom {
    font-family: 'Signika', sans-serif;
    font-size: 5rem;
    color: ivory;
    text-shadow: 9px 0px 13px rgba(0, 0, 0, 0.83);
}
.box_line {
    background-color: rgb(243, 165, 21);
    height: 65px;
    width: 3px;
    border-radius: 10px;
    margin-left: 1rem;
    box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.75);
}
.titre_cv {
    margin-top: 8rem;
}
.cv {
    font-family: 'Signika', sans-serif;
    font-size: 3rem;
    letter-spacing: .8rem;
    color: ivory;
    text-shadow: 9px 0px 13px rgba(0, 0, 0, 0.83);
    width: fit-content;
    border-bottom: 3px solid rgb(243, 165, 21);
    padding-bottom: 20px;
    margin-left: 10rem;
}
/* section a, Media Queries talette */
    @media screen and (max-width: 768px) {
        .section_a {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
        }
        .box_moitié {
            width: 100%;
        }
        .box_nom {
            justify-content: center;
        }
        .titre_cv {
            display: flex;
            justify-content: center;
        }
        .cv {
            margin-left: 0;
        }
    }
  /* section a, Media Queries téléphone */
    @media screen and (max-width: 500px) {
        .prenom {
            font-size: 3rem;
        }
        .nom {
            font-size: 3rem;
        }
        .cv {
            font-size: 2rem;
            letter-spacing: .2rem;
            width: min-content;
        }
    }



/* deuxième section--------------------------------------------------------------------------------------*/
.section_b {
    background:url(Sans_titre_1-2.jpg) ;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box_moitiéB {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;

}
.sous_titreB {
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    color: ivory;
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 1rem;
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
}
.text_aboutMeB {
    width: 75%;
    margin-top: 50px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.icon_B {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-top: 90px;
    height: 230px;
}
.icon_B_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 100%;
}
.logo1 {
    width: 5rem;
    filter: saturate(0) invert(100%);
    padding-bottom: 15px;
}
.icon_B_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 100%;
}
.logo2 {
    width: 5rem;
    filter: saturate(0) invert(100%);
    padding-bottom: 15px;
}
.ligne_icon_middle {
    width: 2px;
    height: 100%;
    background-color: rgb(243, 165, 21);
    box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.35);
}
.icon_Title {
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid rgb(243, 165, 21);
    color: ivory;
    text-align: center;
    text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.flex_icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.text_Icons {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 40px;
}
.fa-camera-retro {
    font-size: 30px;
}
.fa-pagelines {
    font-size: 30px;
}
.fa-gamepad {
    font-size: 30px;
}
.flex_language1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.flex_language2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.titleSkills {
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: ivory;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(243, 165, 21);
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
    margin-top: 4.5rem;
}
.boxSkills {
    display: flex;
    flex-wrap: wrap;
    width: 730px;
    min-width: 730px;
    justify-content: space-evenly;
    margin: 50px 0;
}
.boxSkills2 {
    display: flex;
    flex-wrap: wrap;
    width: 730px;
    min-width: 730px;
    justify-content: space-between;
    margin: 50px 0;
}
.boxSkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 0 1rem 0;
}
.skill--Img {
    width: 3rem;
    margin-bottom: 0.8rem;
}
.skill--Text {
    color: white;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
}
.skill {
    display: flex;
    justify-content: center;
    color: #FFE62B;
    font-size: 4rem;
    width: 20%;
}
.skill2 {
    margin-left: 3.8rem;
}
.skill3 {
    margin-right: 3.8rem;
}

/* section b, Media Queries talette */
@media screen and (max-width: 768px) {
    .box_moitiéB {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.788);
        justify-content: space-between;
    }
    .parcours_Box1-2 {
        margin: 0 1rem;
    }
    .parcours_Box2-2 {
        margin: 0 1rem;
    }
    .text_aboutMeB {
        font-size: 24px;
        margin-bottom: 4rem;
    }
    .icon_B {
        margin-top: 0;
    }
    .boxSkills {
        width: 100%;
        transform: scale(0.8);
    }
    .boxSkills2 {
        width: 100%;
        transform: scale(0.8);
    }
}
/* section b, Media Queries téléphone */
@media screen and (max-width: 500px) {
    .section_b {
        height: unset;
    }
    .icon_B {
        flex-direction: column;
        justify-content: center;
        height: unset;
        align-items: center;
        margin-top: 6rem;
    }
    .text_aboutMeB {
        margin-top: 2rem;
        font-size: 18px;
    }
    .icon_B_2 {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: white dotted 1px;
    }
    .boxSkills {
        width: 100%;
        transform: scale(0.5);
    }
    .boxSkills2 {
        width: 100%;
        transform: scale(0.5);
    }
}



/* troisième section --------------------------------------------------------------------------------*/
.parcours {
    background-image:url(Sans_titre_4.jpg);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.parcours_Box_Principale {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

/* 3eme section - 1ere partie -----------------------------------*/
.parcours_flexTitre1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.parcours_titre1 {
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
    color: ivory;
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 200;
}
.parcours_flexLigne1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.parcours_Box1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    transition: 0.2s ease-in-out;
}
.parcours_Box1-1:hover {
    position: relative;
    top: -10px;
}
.parcours_Box1-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    margin: 0 1rem;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    transition: top 200ms;
}
.parcours_Box1-2:hover {
    position: relative;
    top: -10px;
}
.parcours_Box1-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box1-3:hover {
    position: relative;
    top: -10px;
}
.parcours_dates1 {
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: ivory;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 7rem;
}
.parcours_travail1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.parcours_lieu1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.8);
    height: 100px;
    width: 100%;
    border-bottom: 1px dotted  rgb(243, 165, 21);
}
/* section a, Media Queries tablette */
@media screen and (max-width: 768px) {
    .parcours_Box_Principale {
        width: 100%;
    }
}
/* section a-1, Media Queries téléphone */
@media screen and (max-width: 500px) {
    .parcours_flexLigne1{
        flex-direction: column;
        align-items: center;
    }
    .parcours_Box1-2 {
        margin: 3rem 0;
    }

}

/* 3eme section - 2eme partie --------------------------------*/
.parcours_flexTitre2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.parcours_titre2 {
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
    color: ivory;
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.parcours_flexLigne2 {
    display: flex;
    justify-content: center;
    width: 90%;
}
.parcours_Box2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box2-1:hover {
    position: relative;
    top: -10px;
}
.parcours_Box2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    margin: 0 1rem;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box2-2:hover {
    position: relative;
    top: -10px;
}
.parcours_Box2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box2-3:hover {
    position: relative;
    top: -10px;
}
.parcours_dates2 {
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: ivory;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 7rem;
}
.parcours_travail2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.parcours_lieu2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.8);
    height: 100px;
    width: 100%;
    border-bottom: 1px dotted  rgb(243, 165, 21);
}
/* section a-2, Media Queries téléphone */
@media screen and (max-width: 500px) {
    .parcours_flexLigne2{
        flex-direction: column;
        align-items: center;
    }
    .parcours_Box2-2 {
        margin: 3rem 0;
    }
}

/* 3eme section - 3eme partie---------------------------------------*/
.parcours_flexTitre3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.parcours_titre3 {
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
    color: ivory;
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.parcours_flexLigne3 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 4rem;
}
.parcours_Box3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    margin-right: 0.8rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box3-1:hover {
    position: relative;
    top: -10px;
}
.parcours_Box3-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    background: linear-gradient(180deg, rgb(51, 48, 48) 0%, rgba(93,93,93,0) 100%);
    padding: 1rem 1rem 0rem 1rem;
    margin-left: 0.8rem;
    position: relative;
    top: 0px;
    transition: top 200ms;
}
.parcours_Box3-2:hover {
    position: relative;
    top: -10px;
}
.parcours_dates3 {
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: ivory;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 7rem;
}
.parcours_travail3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.parcours_lieu3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.8);
    height: 100px;
    width: 100%;
    border-bottom: 1px dotted  rgb(243, 165, 21);
}
/* section a-3, Media Queries téléphone */
@media screen and (max-width: 500px) {
    .parcours_flexLigne3{
        flex-direction: column;
        align-items: center;
    }
    .parcours_Box3-2 {
        margin: 3rem 0;
    }
    .parcours_Box3-1 {
        margin-right: 0;
    }

}





/* quatrième section --------------------------------------------------------------------------------*/
.section_d {
    background-image:url(Sans_titre_3.jpg);
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.div_Form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 800px;
    height: 100%;
    padding-bottom: 3rem;
}
.parcours_flexTitreForm1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.parcours_titreForm1 {
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    color: ivory;
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: 1px 0px 12px rgba(112, 112, 112, 0.8);
    margin-bottom: 2rem;
    margin-right: 4rem;
}
.contactMe {
    background: rgba(0, 0, 0, 0.479);
    border: 1px solid white;
    width: 740px;
    margin-top: 3rem;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.CM1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 10px 10px;
}
.CMlogo1 {
    height: 50px;
    filter: saturate(0) invert(100%);
    margin-bottom: 0.5rem;
    transition: .2s ease-in-out;

}
.CMlogo1:hover {
    transition: .2s ease-in-out;
    transform: rotate(15deg) scale(1.2);
}
.textLogo {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
/* form--------------------------------------------------------- */
.lbl_name {
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
}
.form_name {
    display: flex;
    justify-content: column;
    width: 100%;
    margin-top: 5rem;
}
.lbl_mail {
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
}
.form_mail {
    display: flex;
    justify-content: column;
    width: 100%;
    margin-top: 1rem;
}
.lbl_msg {
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
}
.form_message {
    display: flex;
    justify-content: column;
    width: 100%;
    margin-top: 1rem;
}
.form_submit {
    display: flex;
    justify-content: column;
    width: fit-content;
    height: 30px;
    margin-top: 1rem;
    margin-left: 6.2rem;
}
.submit {

        background-color: rgb(243, 165, 21);
        color:#FFFFFF ;
        -webkit-border-radius: 30px;
           -moz-border-radius: 30px;
                border-radius: 30px;
        display:inline-block;
        padding: 0 5px;
        width: min-content;
        height: 2.5em;
}
#name {
    width: 80%;
    border-radius: 10px;
}
#mail {
    width: 80%;
    border-radius: 10px;
}
#msg {
    width: 80%;
    height: 200px;
    border-radius: 10px;
}
/* quatrième section Media Queries talette */
@media screen and (max-width: 768px) {
    .div_Form {
        align-items: center;

    }    
    .contactMe {
        background: rgba(0, 0, 0, 0.479);
        border: 1px solid white;
        width: 740px;
        margin-top: 3rem;
        padding: 1rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .parcours_titreForm1 {
        margin-right: 0rem;
    } 
    .form {
        width: 90%;
        margin-bottom: 5rem;
    }
}
/* quatrième section Media Queries téléphone */
@media screen and (max-width: 500px) {
    .contactMe {
        width: 340px;
    }
    .CM1 {
        width: 100px;
    }
    .textLogo {
        display: none ;
    }
}